body {
    margin: 0;
    background-color: #717366;
}
nav {
    background-color: #25261C;
    width: 100%;
}
nav ul {
    text-align: right;
    margin: 0;
}
nav li {
    display: inline-block;
    font-size: 1.3em;
    padding: 2%;
}
li a {
    color: #D9D0C1;
    text-decoration: none;
}
li a:hover {
    cursor: pointer;
    font-size: larger;
}

.intro {
    background: url(images/destin-pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}

.intro-text {
    background-color: rgba(37, 38, 28, 0.5);
    font-size: 3em;
    font-family: 'Beau Rivage', cursive;
    text-align: left;
    color: black;
    padding: 20% 5%;
    color: #D9D0C1;
  }

  .about {
    display: flex;
    width: 70%;
    margin: 5% auto;
    
  }
  .about-text {
    background-image: url(images/vintage-texture.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 8%;
    margin-right: 3%;
  }
  h3 {
    color: #25261C;
    font-size: 3.5em;
    font-family: 'Beau Rivage', cursive;
    margin-bottom: 1%;
  }
  .about p {
    width: 100%;
    font-size: 1.5em;
    color: #25261C;
    
  }

  #selfie {
    margin: 2%;
    width: 30%;
    border: 30px solid transparent;
    border-image: url(images/vintage-texture.jpg) 90 stretch;
    border-radius: 7%;
  }
  #quill {
    width: 13%;
    position: absolute;
    left: 50%;
  }
.buttons a {
    color: #25261C;
    background-color: #717366;
    border: 3px solid #25261C;
    padding: 2%;
    font-size: 1.4em;
    margin-right: 2%;
    text-decoration: none;
}
.buttons a:hover {
    cursor: pointer;
    background-color:#25261C;
    color:#D9D0C1;
}

.closed {
  display: flex;
  justify-content: space-evenly;

}

.skills {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2%;

}
.skill-div dl {
  font-size: 1.1em;
}
.skills li {
  list-style-type: none;
  font-size: 1.3em;
}
.skill-div {
  background-image: url(images/open-scroll.png);
  width: 46%;
  text-align: center;
  padding-top: 2%;
}
.cert-div {
  background-image: url(images/open-scroll.png);
  width: 46%;
  text-align: center;
  padding-top:2%;
}


footer {
  display: flex;
  justify-content: space-between;
  background-color: #25261C;
  width: 100%;
  margin-top: 2%;
}
footer ul {
  width: 100%;
  text-align: left;
}
footer li {
  display: inline-block;
  font-size: 1em;
  padding: 1%;
}



@media only screen 
  and (min-device-width: 300px)
  and (max-device-width: 500px)
  and (-webkit-min-device-pixel-ratio:1) {
    h3 {
      font-size: 2em;
    }
    .skills ul {
      width: 50%;
      padding-left: 25%;
      font-size: 0.8em;
      padding-bottom: 14%;
    }
    dl {
      width: 50%;
      padding-left: 25%;
      padding-bottom: 20%;
      text-align: left;
    }
    .about {
      display: block;
      width: 100%;
      margin: 2%;
      padding: 2%;
    }
    .about-text {
      width: 90%;
      padding: 1%;
      background-image: none;
    }
    #quill {
      display: none;
    }
    .skills {
      display: block;
      width: 100%;
    }
    .skill-div{
      width: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .ed {
      background-image: url(images/open-scroll.png);
      background-size: 100%;
      background-repeat: no-repeat;
      margin-top: 15%;
      padding-top: 5%;
    }
    .cert-div {
      width: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    #selfie {
      display: none;
    }
  }